#grid_header{
    margin: 0 auto;
    max-width: calc(100% - 4em);
    width: 80em;
    padding-top: 20px;
    
}
#grid_header {
    display: grid;
}
#grid_header a {
    text-decoration: none;
    color: black;
}
#grid_header ul li {
    list-style: none;
    padding: 0 10px;
    float:left;
}
.header_top {
    font-size: 15px;
    padding-left: 65%;
}
#grid_category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 350;
    margin-left: 100px;
    margin-right: 100px;
    }
.card {
    width: 90%;
    text-align: center;
}
h5{
    text-align: center;
}
#logo {
    display: grid;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid gray;
    }
.banddy{
    font-weight: bold;
    font-size: 60px;
    margin-left: 45px;
}
.span{
    margin: 50px;
}
#form3{
    margin-left: 100px;
    float: right;
    }
.a{
    margin-left: 0px;
   
}

#foot{
   margin-top: 300PX;
   margin-left: 40px;
   padding-bottom: 2%;
   padding-left: 1%;
}
#ar{
    margin-top: 100px;
    margin-bottom: 300px;
}
a:link {
    color : black;
}
a:visited {
    color : black;
}

#up_a{
    margin-top: 7%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    border-bottom: 2px solid gray;
    text-align: center;
    display: grid;
}
.up_b{
    padding-bottom: 2%;
    padding-left: 17%;
    padding-right: 17%;
   }
.me-2{
    padding: none;
}
