#grid_header{
    margin: 0 auto;
    max-width: calc(100% - 4em);
    width: 80em;
    padding-top: 20px;
    
}
#grid_header {
    display: grid;
}
#grid_header a {
    text-decoration: none;
    color: black;
}
#grid_header ul li {
    list-style: none;
    padding: 0 10px;
    float:left;
}
.header_top {
    font-size: 15px;
    padding-left: 65%;
}
#grid_category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 350;
    margin-left: 100px;
    margin-right: 100px;
    }
.card {
    width: 90%;
    text-align: center;
}
h5{
    text-align: center;
}
#logo {
    display: grid;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid gray;
    }
.banddy{
    font-weight: bold;
    font-size: 60px;
    margin-left: 45px;
}
.span{
    margin: 50px;
}
#form3{
    margin-left: 100px;
    float: right;
    }
.a{
    margin-left: 0px;
   
}

#foot{
   margin-top: 300PX;
   margin-left: 40px;
   padding-bottom: 2%;
   padding-left: 1%;
}
#ar{
    margin-top: 100px;
    margin-bottom: 300px;
}
a:link {
    color : black;
}
a:visited {
    color : black;
}

#up_a{
    margin-top: 7%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    border-bottom: 2px solid gray;
    text-align: center;
    display: grid;
}
.up_b{
    padding-bottom: 2%;
    padding-left: 17%;
    padding-right: 17%;
   }
.me-2{
    padding: none;
}
.u_b{
    padding-left: 250px;
    padding-right: 250px;
    margin-right: 450px;
    margin-left: 450px;
    align-items: center;
    
}
* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
body 				
 
.container 		{ 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

