#grid_header{
    margin: 0 auto;
    max-width: calc(100% - 4em);
    width: 80em;
    padding-top: 20px;
    
}
#grid_header {
    display: grid;
}
#grid_header a {
    text-decoration: none;
    color: black;
}
#grid_header ul li {
    list-style: none;
    padding: 0 10px;
    float:left;
}
.header_top {
    font-size: 15px;
    padding-left: 65%;
}
#grid_category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 350;
    margin-left: 100px;
    margin-right: 100px;
    }
.card {
    width: 90%;
    text-align: center;
}
h5{
    text-align: center;
}
#logo {
    display: grid;
    margin-bottom: 50px;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    }
.banddy{
    font-weight: bold;
    font-size: 45px;
}
.span{
    margin: 50px;
}
#form3{
    margin-left: 400px;
}
.a{
    margin-left: 45px;
}
#foot{
   margin-top: 300PX;
   margin-left: 40px;
}
#ar{
    margin-top: 100px;
    margin-bottom: 300px;
}